// POI MAP
// --------------------------------------------------
#poi-map-element {
	.poi-map-div {
		height: 384px;
		width: 100%;
	}
	.poi_search {
		form {
			margin: 0;
		}
		margin-top: 10px;
		label {
			font-weight: bold;
			display: block;
		}
	}
	.btn {
		.btn-default();
	}
	.poi-results-wrapper {
		h2 {
			margin: 0;
		}
		.poi-results {
			margin-top: 10px;
			p {
				.text-muted();
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			max-height: 200px;
			overflow-y: auto;
		}
		li.poi-item {
			border-bottom: 1px solid @gray-lighter;
			padding: 5px;
			span {
				display: inline-block;
				width: 30px;
			}
			&:hover {
				background-color: @gray-lighter;
			}
		}
	}
	.placeInfoBubble {
		width: 250px;
		span {
			display: block;
		}
		.placeName {
			font-weight: bold;
		}
		.placeAddress {

		}
		.placePhone {

		}
		.placeInfoUrl {

		}
	}
}
