// GLOBAL PROPERTIES IN HERE
// --------------------------------------------------


// Page HEADER STYLES
// --------------------------------------------------
.page-header {
	h1 {

	}
	p {
		
	}
}


// COLLAPSE SIDEBAR
// --------------------------------------------------
#sidebarcollapse {
	background: #efefef;
	padding: 20px;
}
#sidebarcollapse.in {
	margin-bottom: 30px;
}
@media (min-width: @screen-md) {
	#sidebarcollapse {
		background: none;
		padding: 0;
	}
	#sidebarcollapse.collapse {
		display: block;
	}
	#sidebarcollapse.in {
		margin-bottom: 0;
	}
}


// LAYOUT HEADER STYLE
// --------------------------------------------------
#site-header {
	margin-bottom: 20px;
	.acccount-user-block {
		float: right;
		text-align: right;
	}
	.navbar {
		clear: both;
		padding: 0;
		margin: 0;
	}
}


// LAYOUT FOOTER STYLE
// --------------------------------------------------
#site-footer {
	margin-top: 30px;
	padding-bottom: 70px;
}


// LAYOUT STICKY FOOTER STYLE
// --------------------------------------------------
#sticky-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	.sticky-footer-inner {
		.border-radius(5px 5px 0 0);
		background: @gray-lighter;
		padding: 10px;
		.box-shadow(0 0 7px 2px rgba(0,0,0,0.5));
	}
}


// GLOBAL TO SPACER (FOR RANGE INPUTS MIN to MAX) 
// --------------------------------------------------
.to-spacer-gutter {
	padding-left: (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
	line-height: normal;
}
@media (min-width: @screen-sm) {
	.to-spacer-gutter {
		float: left;
		padding-left: 0;
		padding-right: 0;
		width: @grid-gutter-width;
		margin-left: -(@grid-gutter-width / 2);
		margin-right: -(@grid-gutter-width / 2);
		text-align: center;
		line-height: @input-height-base;
	}
}


// CMS PAGE STYLES
// --------------------------------------------------
.cms-page {

}


// ACCOUNT COMPONENT STYLES
// --------------------------------------------------
.web-user-account-component {

}
.web-user-account-component-content {
	margin-bottom: 30px;
}


// SIDEBAR NAVIGATION STYLE
// --------------------------------------------------
#sidebar-main-nav-list {
	margin-bottom: 30px;
	h2 {
		margin: 0;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul li {
		margin: 0;
	}
	ul li a {
		padding: 3px 10px;
		margin: 0;
		text-shadow: none;
		display: block;
	}
	ul li a:hover {
		background: @gray-lighter;
		color: #000;
		text-decoration: none;
	}
	ul li a.sub_active_link {
		background: @gray-lighter;
	}
	ul li ul li a {
		padding: 3px 10px 3px 20px;
	}
	ul li ul li ul li a {
		padding: 3px 10px 3px 30px;
	}
}


// QUICK SEARCH STYLES
// --------------------------------------------------
.quick-search-component {
	.box-sizing(border-box);
	position: relative;
	label {
		margin-bottom: 0;
	}
}
.quick-search-component-content {
	margin-bottom: 30px;
}
.quick-search-extra-close {
	margin-top: -17px;
	margin-right: -14px;
}
.quick-search-extra-section {
	position: absolute;
	.box-sizing(border-box);
	z-index: 200;
	h4 {
		margin: 0;
	}
	input {
		margin-bottom: 0;
	}
}
.quick-search-extra-section input[type="text"] {
	margin-bottom: 10px;
}
.quick-search-extra-content-section {
	padding: 20px;
	border: 1px solid @gray-lighter;
	.box-shadow(0 0 10px rgba(0, 0, 0, 0.8));
	background: #fff;
	width: 100%;
	top: 20%;
	right: 0;
	left: 0;
}
@media (min-width: @screen-sm) {
	.quick-search-extra-content-section {
		top: 38px;
		right: -280px;
		width: 265px;
		left: auto;
	}
	.quick-search-extra-content-section input[type="text"] {
		width: 65%;
		margin-bottom: 0;
	}
	.quick-search-extra-content-section .btn {
		width: 33%;
	}

}


// STANDARD PROPERTY
// --------------------------------------------------
.standard-property {
	.prop-photo {
		margin: 0 0 10px 0;
		position: relative;
		.open-house-banner {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 5px;
			background: #fff;
			color: #000;
		}
	}
	h3 {
		margin: 0 0 10px 0;
		font-size: 14px;
		font-weight: bold;
	}
	p {
		margin: 0;
	}
	.prop-cta {
		margin-top: 10px;
	}
}


// view all block for search components
// --------------------------------------------------
.search-component-view-all {
	text-align: center;
	border-top: 1px solid @gray-lighter;
	a {
		display: inline-block;
		font-weight: bold;
		vertical-align: top;
		background: #fff;
		padding: 10px;
		margin-top: -20px;
	}
}


// OVERRIDE FOR PROPERTY BIN COMPONENT GOES HERE
// --------------------------------------------------
#property-bin-top-toolbar,
#property-bin-bottom-toolbar {
	.btn {
		.btn-default();
	}
}


// OVERRIDE FOR PROPERTY BIN GOES HERE
// --------------------------------------------------
#property-bin-default-open-button {
	display: none;
}


// ADD TO FAVORITE BUTTON
// --------------------------------------------------
.addFavoriteButton {
	.hide-text();
	display: inline-block;
	vertical-align: bottom;
	background: url(/images/sprite-icons.png) 0 0 transparent;
	.square(16px);
	padding: 1px 0;
}
.addFavoriteButton.removeFavorite {
	background-position: -40px 0;
}


// ADD TO PROPERTY BIN BUTTON
// --------------------------------------------------
.property-bin-button {
	.hide-text();
	display: inline-block;
	vertical-align: bottom;
	background: url(/images/sprite-icons.png) -80px 0 transparent;
	.square(16px);
	padding: 1px 0;
}
.property-bin-button.property-bin-remove {
	background-position: -120px 0;
}


// QUICK VIEW BUTTON
// --------------------------------------------------
.btn-quickview {
	.btn-info();
	.btn-sm();
	padding: 2px 5px;
}


// JCAROUSEL
// --------------------------------------------------
.jcarousel-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		float: left;
	}
}
.jcarousel-container-horizontal {
	width: 100%;
	padding-left: 34px;
	padding-right: 34px;
	.box-sizing(border-box);
}
.jcarousel-clip-horizontal {
	overflow: hidden;
	width: 100%;
	height: 200px;
}
.jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 10px;
	width: 200px;
	height: 200px;
	.box-sizing(border-box);
}
.jcarousel-next-horizontal,
.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:active,
.jcarousel-next-horizontal:focus {
	position: absolute;
	top: 30%;
	right: 0;
	.square(0);
	cursor: pointer;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	border-left:24px solid #000;
}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
	cursor: default;
	border-left-color: #ccc;
}
.jcarousel-prev-horizontal,
.jcarousel-prev-horizontal:hover,
.jcarousel-prev-horizontal:focus,
.jcarousel-prev-horizontal:active {
	position: absolute;
	top: 30%;
	left: 0;
	.square(0);
	cursor: pointer;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	border-right:24px solid #000; 
}
.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	border-right-color: #ccc;
}

// skin for the carousel that contains standard properties.
.jcarousel-skin-standard-property {
	.jcarousel-clip-horizontal {
		height: 265px;
	}
	.jcarousel-item-horizontal {
		width: 193px;
		height: 265px;
	}
}


// SITE TABS
// ---------------------------------------------
.nav-tabs {
	margin-bottom: 10px;
}
.tabClass {
	.nav-tabs {
		margin-bottom: 15px;
	}
}
// RESPONSIVE TABS.
.tab-content .inner-tab-trigger {
	margin: 0 0 5px 0;
	a {
		display: block;
		padding: 10px;
		border: 1px solid #ccc;
	}
}
.tab-content .inner-tab-trigger .active {
	background: #efefef;
}