// Account Menu hamburger
// --------------------------------------------------
.navbar-account {
    margin-top: 15px;
    .navbar-nav {
        margin: 0;
        float: none;
        > li {
            > a, {
                color: #000;
                background-color: #fff;
                &:hover,
                a:focus {
                    background-color: #ccc;
                    color: darken(#000, 15%);
                }
            }            
            &.active {
                > a,
                > a:hover,
                > a:focus {
                    background-color: #ccc;
                    color: #fff;
                }
            }
        }
    }
    .navbar-toggle {
        background-color: #efefef;
        color: #fff;
        width: 100%;
        float: none;
        margin: 0;
        .menu-text {
            line-height: 23px;
        }
        .icon-bar {
            background-color: #000;
            width: 36px;
            height: 5px;
        }
    }
    .md-device({
        .navbar-nav {
            width: 100%;
            > li {
                display: table-cell;
                float: none;
                width: 1%;
                > a {
                    display: block;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }
    });
}

// Popup Forms
// --------------------------------------------------
.popupBody {
    padding: 0;
    form {
        margin: 0;
        overflow-x: hidden; // removes scrollbars caused by rows.
    }
    .popupFooter {
        h2 {
            margin: 0 0 5px 0;
            line-height: normal;
        }
        ul {
            margin: 0;
        }
    }
    .row {
        margin-left: -@grid-gutter-width / 2;
        margin-right: -@grid-gutter-width / 2;
    }
    .col-lg-6, .col-sm-6 {
        width: 100%;
        float: none;
        padding: 0 15px;
        @media screen and (min-width: 490px) { 
            width: 50%;
            float: left;
        }
    }
    .popup-to-spacer-gutter {
        padding-left: (@grid-gutter-width / 2);
        padding-right: (@grid-gutter-width / 2);
        line-height: normal;
        @media screen and (min-width: 490px) {
            float: left;
            padding-left: 0;
            padding-right: 0;
            width: @grid-gutter-width;
            margin-left: -(@grid-gutter-width / 2);
            margin-right: -(@grid-gutter-width / 2);
            text-align: center;
            line-height: @input-height-base;
        }
    }
}


// Open ID
// --------------------------------------------------
.openid-container {
    .openid-top {
        border: 1px solid #000;
        .border-radius(3px);
        padding:15px;
    }
    .openid-intro{
        text-align: center;
    }
    .openid-links{
        text-align: center;
    }
    .openid-or-wrapper {
        border-top: 2px solid #000;
        height: 1px;
        margin: 15px 0 0 0;
        min-height: 10px;
        padding-top: 10px;
        text-align: center;
        span {
            background-color: #fff;
            color: #000;
            font-size: 12px;
            font-weight: bold;
            padding: 0 7px;
            position: relative;
            top: -20px;
        }
    }
}
.openid-transfer-screen{
    text-align: center;
}
.openid-transfer-screen-loader-icon{
    margin-top:20px;
}

// favorites section
// --------------------------------------------------
.fav-property-category-row {
    .fav-prop-counter {
        display: block;
        margin-top: 5px;
        @media screen and (min-width: 400px) { 
            margin: 0;
            padding-left: 30px;
            display: inline-block;
        }
    }
}