/* Account Header */
#web-user-account-header {
    p {
        font-size: 18px;
        line-height: 24px;
    }
}


/* Account Menu */
#web-user-account-menu {
    ul {

        li {

        }
        li a {

        }
        li.active a,
        li a:hover {

        }
    }
}


/* Account Area Forms */
form.webUserAccountFormXXLARGE{
    label.error{
        width:530px;
        margin:.5em 0;
    }
}


/* Popup Forms */
.popupBody {
    padding: 0; 
    h1 {
        line-height: normal;
        margin: 0 0 20px 0;
        font-style: 20px;
    }
    .popupPhone {
        display:inline-block;
        width:50px;
        color:@gray;
    }
    .popupFooter {
        border-top:1px solid @gray;
        padding-top:15px;
        .popupFooterLogo {
            max-width: none;
        }
    }
    // fix for grid in lighboxes
    .row-fluid {
        div.span6 {
            display: block;
            float: left;
            width: 48.717948717948715%;
            margin-left: 2.564102564102564%;
        }
        div.span6:first-child {
            margin-left: 0;
        }
    }
}


/* Open ID */
.openid-container {
    .openid-top {
        border: 1px solid @black;
        .border-radius(3px);
        padding:15px;
    }
    .openid-intro{
        text-align: center;
    }
    .openid-links{
        text-align: center;
    }
    .openid-or-wrapper {
        border-top: 2px solid @black;
        height: 1px;
        margin: 15px 0 0 0;
        min-height: 10px;
        padding-top: 10px;
        text-align: center;
        span {
            background-color: @white;
            color: @black;
            font-size: 12px;
            font-weight: bold;
            padding: 0 7px;
            position: relative;
            top: -20px;
        }
    }
}
.openid-transfer-screen{
    text-align: center;
}
.openid-transfer-screen-loader-icon{
    margin-top:20px;
}


/* account well */
.account-well {
    min-height:325px;
    form {
        margin:0;
    }
}