// COMPANY HOME PAGE STYLS
// --------------------------------------------------


// GALLERY
// --------------------------------------------------
#home-page-gallery {
	position: relative;
	.slide {
		width: 100%;
		min-height: 125px;
	}
	.caption {
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 300px;
		background-color: @gray;
		#translucent > .background(@gray, 0.5);
		padding: 1em;
		h3 {
			margin: 0;
			padding: 0;
			line-height: normal;
			font-size: 12px;
			font-weight: bold;
			color: #fff;
		}
		h3 a {
			color: #fff;
		}
		p {
			margin: 0;
			padding:0.5em 0 0 0;
			color: #fff;
			font-size: 11px;
			font-weight: bold;
		}			
	}
	.cycle-pager {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 100%;
		z-index: 500;
		text-align: right;
		span {
			border-radius: 8px;
			cursor: pointer;
			margin-left: 5px;
			.square(16px);
			background-color: #000;
			display: inline-block;
			font: 0/0 a;
			vertical-align: top;
     		color: transparent;
			&.cycle-pager-active {
				background-color: @brand-danger;
			}
		}
	}
}
// increase font sizes in gallery as screens get larger
@media (min-width: @screen-sm) {
	#home-page-gallery .caption h3 {
		font-size: 18px;
	}
	#home-page-gallery .caption p {
		font-size: 16px;
	}

}


// QUICK SEARCH
// --------------------------------------------------
.quick-search-component-home {
	background-color: #fff;
	#translucent > .background(#fff, 0.5);
	border: 1px solid @gray;
	padding: 20px;
	margin-top: 30px;
}
.quick-search-extra-home-section {
	background-color: #fff;
	padding: 20px;
	border: 1px solid @gray;
	width: 100%;
	top: 25%;
	.box-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}
.quick-search-extra-home-section input[type="text"] {
	margin-bottom: 10px;
}
// move quick search as screen gets big
@media (min-width: @screen-lg) {
	.quick-search-component-home {
		position: absolute;
		z-index: 550;
		margin: 20px 0 0 20px;
		top: 0;
	}
	.quick-search-extra-home-section {
		#translucent > .background(#fff, 0.5);
		right: -285px;
		width: 265px;
		top: -21px;
		.box-shadow(none);
	}
}


// COMPONENT SECTIONS
// --------------------------------------------------
.homepage-well {
	.border-radius(5px);
	border: 1px solid @gray-lighter;
	padding: 20px;
	h3 {
		margin: 0;
	}
}


// FEATURED COMMUNITY
// --------------------------------------------------
#home-page-community-gallery {
	margin-top: 5px;
	.slide {
		min-height: 100px;
		h3 {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
			#translucent > .background(#fff, 0.5);
			padding: 5px;
			a {
				color: #000;
			}
		}
	}
}