// AGENT ROSTER STYLES
// --------------------------------------------------

#agent-roster-page {
	.roster-result-set {
		display: none;
	}
	.roster-result-set.active {
		display: block;
	}
}
#agent-roster-view-toggles {
	h2 {
		margin: 0;
	}
	border-bottom: 1px solid @gray-lighter;
	margin-bottom: 15px;
	padding-bottom: 5px;
}


// AGENT LIST VIEW TOOLTIP
// --------------------------------------------------
.ui-tooltip-agent-bubble {
	background: @gray-lighter;
	border: 1px solid @gray;
	color: #000;
	min-width: 312px;
	.border-radius(5px);
	.box-shadow(2px 2px 8px 0 rgba(0,0,0,0.5));
	.qtip-content {
		background: none;
		border: none;
		color: #000;
		font-size: 11px;
		line-height: 14px;
		padding: 10px;
		.clearfix();
	}
	p {
		margin: 5px 0 0 0;
	}
	.tip-name-block {
		font-weight: bold;
	}
	.tip-title-block {

	}
	.tip-designations-block {

	}
	.tip-office-block {

	}
	.tip-phone-block {

	}
	.tip-languages-block {

	}
	.agent-image {
		float: left;
		margin-right: 10px;
	}
	.agent-info {
		float: left;
		max-width: 150px;
	}
}


// AGENT LIST THUMBNAIL LIST VIEW (APPEARS ON ROSTER VIEW AND ON TEAM BIOS FOR MEMBERS)
// --------------------------------------------------
ul.agent-thumb-list {
	h4 {
		margin: 5px 0;
	}
	ul {
		margin: 0;
	}
	font-size: 12px;
	line-height: 16px;
}